include packager/resources/chrome/content/about.xul
include packager/resources/chrome/content/ff-overlay.js
include packager/resources/chrome/content/ff-overlay.xul
include packager/resources/chrome/content/ff-sidebar.js
include packager/resources/chrome/content/ff-sidebar.xul
include packager/resources/chrome/content/options.xul
include packager/resources/chrome/content/overlay.js
include packager/resources/chrome/locale/en-US/about.dtd
include packager/resources/chrome/locale/en-US/options.dtd
include packager/resources/chrome/locale/en-US/overlay.dtd
include packager/resources/chrome/locale/en-US/overlay.properties
include packager/resources/chrome/skin/overlay.css
include packager/resources/chrome/skin/toolbar-button.png
include packager/resources/chrome.manifest
include packager/resources/defaults/preferences/prefs.js
include packager/resources/install.rdf
include README
include requirements.txt
